# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdata

# macOS
.DS_Store

# Swift Package Manager
.swiftpm
Package.resolved
.build/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# Temporary files
*.log
*.tmp

